<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Üzenetek</title>
</head>
<body>
<div>
    <p style="text-align: center; margin-top: 24px;"><b style="font-size: 32px;">Ismerkedj online (vagy ugord át egyből
        az ismerkedés részét)!</b></p>
    <table style="width: 100%; background-color: silver; margin-top: 24px;">
        <thead>
        <tr>
            <th style="border: 1px solid black;"><a href="home" style="text-decoration: none; color: black;">Főoldal</a>
            </th>
            <th style=" border: 1px solid black;"><a href="messages" style="text-decoration: none; color: black;">Beszélgetések</a>
            </th>
            <th style="border: 1px solid black;"><a href="coupon"
                                                    style="text-decoration: none; color: black;">Kuponok</a>
            </th>
            <th style="border: 1px solid black;"><a href="escort"
                                                    style="text-decoration: none; color: black;">Escortok</a>
            </th>
            <th style="border: 1px solid black;"><a href="settings" style="text-decoration: none; color: black;">Profilbeállítások</a>
            </th>
        </tr>
        </thead>
    </table>
</div>
<div style="width: 15%; float: left; height: 600px; position: relative">
    <div height="wrap-content" style="overflow-y: scroll; max-height: 100%; text-overflow: ellipsis">
        <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-align: center; vertical-align: center">
            <img th:src="@{images/babtiger.png}" style="height: 50px; border-radius: 100px">
            Utolsó.Utolsó.Utolsó.Utolsó.Utolsó.Utolsó.Utolsó.Utolsó.Utolsó.Utolsó.Utolsó.Utolsó.Utolsó.Utolsó.Utolsó.
        </div>
    </div>
</div>
<div style="width: 85%; float: right; height: 500px; alignment: center">
    <div style="height: 50px; text-align: center; vertical-align: center">
        <img th:src="@{images/babtiger.png}" style="height: inherit; border-radius: 50px">
        <p>Név</p>
    </div>
    <div style="height: 450px; position: relative">
        <div style="max-height: 100%; overflow-y: scroll">
            <table style="height: fit-content; text-align: justify; vertical-align: center">
                <tr>
                    <td>
                        <img th:src="@{images/babtiger.png}" style="float: left; height: 45px; border-radius: 50px">
                    </td>
                    <td>
                        <p>Nagyon-nagyon hosszú üzenet, olyan, hogy több sort is elfoglal, mert olyat is szoktak
                            küldeni egymásnak az emberek, és nagyon jó példája annak, hogyan fog kinézni a weboldal,
                            amikor
                            teljesen meg lesz csinálva, és beadásra készen lesz.Nagyon-nagyon hosszú üzenet, olyan, hogy
                            több sort is
                            elfoglal, mert olyat is szoktak küldeni egymásnak az emberek, és nagyon jó példája annak,
                            hogyan fog kinézni a weboldal, amikor
                            teljesen meg lesz csinálva, és beadásra készen lesz.Nagyon-nagyon hosszú üzenet, olyan, hogy
                            több sort is
                            elfoglal, mert olyat is szoktak küldeni egymásnak az emberek, és nagyon jó példája annak,
                            hogyan fog kinézni a weboldal, amikor
                            teljesen meg lesz csinálva, és beadásra készen lesz.Nagyon-nagyon hosszú üzenet, olyan, hogy
                            több sort is
                            elfoglal, mert olyat is szoktak küldeni egymásnak az emberek, és nagyon jó példája annak,
                            hogyan fog kinézni a weboldal, amikor
                            teljesen meg lesz csinálva, és beadásra készen lesz.Nagyon-nagyon hosszú üzenet, olyan, hogy
                            több sort is
                            elfoglal, mert olyat is szoktak küldeni egymásnak az emberek, és nagyon jó példája annak,
                            hogyan fog kinézni a weboldal, amikor
                            teljesen meg lesz csinálva, és beadásra készen lesz.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img th:src="@{images/babtiger.png}" style="float: left; height: 45px; border-radius: 50px">
                    </td>
                    <td>
                        <p>Nagyon-nagyon hosszú üzenet, olyan, hogy több sort is elfoglal, mert olyat is szoktak
                            küldeni
                            egymásnak az emberek, és nagyon jó példája annak, hogyan fog kinézni a weboldal, amikor
                            teljesen meg
                            lesz csinálva, és beadásra készen lesz.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img th:src="@{images/babtiger.png}" style="float: left; height: 45px; border-radius: 50px">
                    </td>
                    <td>
                        <p>Egy soros üzenet.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img th:src="@{images/babtiger.png}" style="float: left; height: 45px; border-radius: 50px">
                    </td>
                    <td>
                        <p>Nagyon-nagyon hosszú üzenet, olyan, hogy több sort is elfoglal, mert olyat is szoktak
                            küldeni
                            egymásnak az emberek, és nagyon jó példája annak, hogyan fog kinézni a weboldal, amikor
                            teljesen meg
                            lesz csinálva, és beadásra készen lesz.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img th:src="@{images/babtiger.png}" style="float: left; height: 45px; border-radius: 50px">
                    </td>
                    <td>
                        <p>Nagyon-nagyon hosszú üzenet, olyan, hogy több sort is elfoglal, mert olyat is szoktak
                            küldeni
                            egymásnak az emberek, és nagyon jó példája annak, hogyan fog kinézni a weboldal, amikor
                            teljesen meg
                            lesz csinálva, és beadásra készen lesz.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img th:src="@{images/babtiger.png}" style="float: left; height: 45px; border-radius: 50px">
                    </td>
                    <td>
                        <p>Nagyon-nagyon hosszú üzenet, olyan, hogy több sort is elfoglal, mert olyat is szoktak
                            küldeni
                            egymásnak az emberek, és nagyon jó példája annak, hogyan fog kinézni a weboldal, amikor
                            teljesen meg
                            lesz csinálva, és beadásra készen lesz.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img th:src="@{images/babtiger.png}" style="float: left; height: 45px; border-radius: 50px">
                    </td>
                    <td>
                        <p>Nagyon-nagyon hosszú üzenet, olyan, hogy több sort is elfoglal, mert olyat is szoktak
                            küldeni
                            egymásnak az emberek, és nagyon jó példája annak, hogyan fog kinézni a weboldal, amikor
                            teljesen meg
                            lesz csinálva, és beadásra készen lesz.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img th:src="@{images/babtiger.png}" style="float: left; height: 45px; border-radius: 50px">
                    </td>
                    <td>
                        <p>Nagyon-nagyon hosszú üzenet, olyan, hogy több sort is elfoglal, mert olyat is szoktak
                            küldeni egymásnak az emberek, és nagyon jó példája annak, hogyan fog kinézni a weboldal,
                            amikor
                            teljesen meg lesz csinálva, és beadásra készen lesz.Nagyon-nagyon hosszú üzenet, olyan, hogy
                            több sort is
                            elfoglal, mert olyat is szoktak küldeni egymásnak az emberek, és nagyon jó példája annak,
                            hogyan fog kinézni a weboldal, amikor
                            teljesen meg lesz csinálva, és beadásra készen lesz.Nagyon-nagyon hosszú üzenet, olyan, hogy
                            több sort is
                            elfoglal, mert olyat is szoktak küldeni egymásnak az emberek, és nagyon jó példája annak,
                            hogyan fog kinézni a weboldal, amikor
                            teljesen meg lesz csinálva, és beadásra készen lesz.Nagyon-nagyon hosszú üzenet, olyan, hogy
                            több sort is
                            elfoglal, mert olyat is szoktak küldeni egymásnak az emberek, és nagyon jó példája annak,
                            hogyan fog kinézni a weboldal, amikor
                            teljesen meg lesz csinálva, és beadásra készen lesz.Nagyon-nagyon hosszú üzenet, olyan, hogy
                            több sort is
                            elfoglal, mert olyat is szoktak küldeni egymásnak az emberek, és nagyon jó példája annak,
                            hogyan fog kinézni a weboldal, amikor
                            teljesen meg lesz csinálva, és beadásra készen lesz.</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div style="height: 50px">
        <div style="float: left; position: relative; width: 90%">
            <div height="wrap-content" style="overflow-y: scroll; max-height: 100%">
                <textarea placeholder="Ide írd az üzenetedet..." cols="120" style="resize: none"></textarea>
            </div>
        </div>
        <div>
            <input type="image" th:src="@{images/babtiger.png}" height="50px">
        </div>
    </div>
</div>
</body>
</html>